.btn {
  background: transparent;
  outline: none;
  border: none;
  padding: 15px 25px;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 100px;
  box-sizing: border-box;
  white-space: nowrap;
  transition: all .4s ease;
  cursor: pointer;
  &-sm{
    padding: 5px 10px;
    height: 32px;
    font-size: 12px;
  }

  &-sm, &-secondary-outline{
    border-width: 1px !important;
  }

  &-rounded{
    border-radius: 5px;
  }

  &-primary{
    background: $primary-main;
    color: white !important;

    &:hover{
      transform: scale(1.1);
    }

  }
  &-light{
    background: rgba(220, 220, 220, 0.20);
    &:hover{
      background: rgba(82, 82, 82, 0.2);
      color: white;
    }
  }
  &-primary-outline{
    border: 2px solid $primary-deep;
    color: $primary-main;

    &:hover{
      background: $primary-deep;
      color: white;
    }
  }

  &-secondary-outline{
    border:2px solid $secondary-deep;
    color: $secondary-main;
  }





}

