.collection-section {
  background: $gray-4;
  backdrop-filter: blur(25px);
  padding: 65px 0;
}

.feature-card-list {
  margin-top: 55px;
  column-gap: 31px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @include getDown(1080px){
    column-gap: 20px;
  }
  @include getDown(768px){
    grid-template-columns: repeat(2, 1fr);
    row-gap: 31px;
  }
  @include getDown(576px){
    grid-template-columns: repeat(1, 1fr);
    row-gap: 31px;
  }

  .feature-card {

    @include getDown(576px){
      margin: auto;
    }

    .feature-image-row {
      display: flex;
      margin-bottom: 30px;
      column-gap: 8.25px;

      @include getDown(768px){
        margin-bottom: 10px;
      }

      img {
        display: flex;
        width: 100%;
      }

      div {
        &:nth-child(2) {
          display: flex;
          flex-direction: column;
          row-gap: 8.25px;
        }
      }
    }

    h5 {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
      color: $black;
    }

    .btn {
      height: 29px;
      padding: 10px 12px;
      color: #2639ED;
      font-size: 11.001px;
      font-weight: 700;

    }

    .feature-card-meta {
      span {
        color: $black;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}