
.features {
  background: $gray-4;
  backdrop-filter: blur(25px);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 326px;
    column-gap: 76px;
    @include getDown(1132px){
      column-gap: 40px;
      transition: column-gap .4s ease;
    }

    @include getDown(800px){
      flex-direction: column;
      padding: 50px 20px;
      transition: padding .4s ease;
      column-gap: 0px;
    }

    .feature-item{

      @include getDown(800px){
        margin-top: 30px;
        transition: margin-top .4s ease;
      }

      .feature-logo {
        display: flex;
        align-items: center;
        column-gap: 10px;
        h5{
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 26px;
          color: $black;
        }
      }
      p{
        margin-top: 12px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        color: $gray-11;
      }
    }
  }
}