
.features {
  background: $gray-4;
  backdrop-filter: blur(25px);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 326px;
    column-gap: 76px;



    .feature-item{
      .feature-logo {
        display: flex;
        align-items: center;
        column-gap: 10px;
        h5{
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 26px;
          color: $black;
        }
      }
      p{
        margin-top: 12px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        color: $gray-11;
      }
    }
  }
}