
.hero-content {
  display: grid;
  grid-template-columns: minmax(600px, 1fr) 1fr;
  padding-top: 57px;
  padding-bottom: 122px;

  @include getDown(1080px) {
    grid-template-columns: minmax(400px, 1fr) 1fr;
  }

  @include getDown(912px) {
    grid-template-columns: 1fr;
  }

  .hero-title {
    @include getDown(768px) {
      font-size: 25px;
    }
  }

  & > div {
    &:nth-child(1) {
      @include getDown(768px) {
        grid-row: 2 / 4;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 80px;
      }

    }
  }

  p {
    margin-top: 22px;
    color: #565656;
    font-size: 20px;
    line-height: 160%;
    margin-bottom: 41px;
    @include getDown(768px) {
      font-size: 14px;
    }
  }
}

.image-stack {
  position: relative;
  height: 440px;
  width: 400px;
  margin-left: auto;
  transform: translateX(-45px);

  @include getDown(912px) {
    row-span: 0;
    margin: auto;
  }


  @include getDown(668px) {
    img {
      max-width: 500px;
      object-fit: cover;
    }
  }

  @include getDown(576px) {
    transform: translateY(0%);
  }
  @include getDown(525px) {
    transform: translateX(-15px);
  }


  & > img {
    border-radius: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &:nth-child(1) {
      z-index: 3;
    }

    &:nth-child(2) {
      z-index: 2;
      transform: translateY(-50%) translateX(70px);
    }

    &:nth-child(3) {
      z-index: 1;
      transform: translateY(-50%) translateX(140px);
    }


  }

  .image-badge {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateX(-50%);
    z-index: 4;

    @include getDown(576px) {
      display: none;
    }
  }

  .image-stack-overlay {
    border-radius: 24px;
    position: absolute;
    top: 60px;
    left: 20px;
    transform: translateY(-50%);
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: white;

    & > div {
      margin-top: 10px;
      display: flex;
      align-items: center;
      column-gap: 10px;
    }
  }

  .image-title {

  }
}


.slats {
  margin-top: 30px;
  display: flex;
  column-gap: 10px;
  position: relative;

  &::before {
    content: "";
    background-image: url("/Dot.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-position-x: left;
    position: absolute;
    z-index: -1;
    width: 457px;
    height: 411px;
    top: -83px;
    left: -54px;
  }

  li {
    min-width: 130px;
    list-style: none;

    h1 {
      span {
        font-family: 'Integral CF', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0.05em;
        color: $black;
      }

      svg {
        font-size: 40px;
        margin-top: 3px;
        margin-left: -8px;
        font-weight: 600;
      }
    }

    span {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 160%;
      color: #565656;
    }
  }
}