
.header {
  background: white;
  border-bottom: 1px solid $gray-1;
  height: 109px;
  line-height: 109px;
  display: flex;
  justify-content: space-between;

  @include getDown(800px){
    height: 80px;
    line-height: 80px;
  }

  .container{
    display: flex;
    align-items: center;
    width: 100%;
  }


  .nav-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 105.66px;
      height: 17.92px;
    }

    border-right: 1px solid $gray-3;
    height: 47px;
    padding-right: 33px;
    @include getDown(896px){
      padding-right: 15px;
    }
    @include getDown(800px){
      border-right: none;
    }
  }

  .left-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-items {
      margin-left: 35px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 47px;

      @include getDown(896px){
        margin-left: 16px;
        column-gap: 20px;
      }
      @include getDown(800px){
        display: none;
      }

      li {
        list-style: none;
        cursor: pointer;
        a{
          text-decoration: none;
          color: $black;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 0.64px;
          &:hover{
            color: $primary-deep;
            font-weight: bold;
          }
        }
      }
    }
  }

  .right-nav-content {
    margin-left: 80px;
    display: flex;
    align-items: center;
    column-gap: 20px;

    @include getDown(961px){
      margin-left: 10px;
    }


    button{
      &:nth-child(3){
        @include getDown(520px){
          display: none;
        }
      }
    }
  }


  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.search-input {
  border: 1px solid $gray-1;
  border-radius: 30px;
  padding: 0px 20px;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: $gray-2;

  input{
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
  }

  img {
    width: 24px;
    height: 24px;
  }
}

