.signup-section {
  padding-top: 102px;
  padding-bottom: 122px;

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 140px;
    align-items: center;

    @include getDown(1102px) {
      transition: column-gap .3s ease;
      column-gap: 80px;
    }

    @include getDown(874px) {
      column-gap: 40px;
      grid-template-columns: repeat(1, 1fr);
    }


    .signup-section-left {
      position: relative;
      @include getDown(874px) {

      }

      & > div {
        @include getDown(622px) {
          display: flex;
          flex-direction: column;
          row-gap: 23px;
          align-items: center;

        }
      }

      .img {
        position: relative;
        height: max-content;
        width: max-content;

        img {
          &:nth-child(2) {
            position: absolute;
            bottom: 20px;
            right: 20px;
            transform: translate(50%, 50%);
          }
        }

        &.img2 {
          position: relative;
          right: 0;
          transform: translateX(64px) translateY(100px);
        }

        &.img3 {
          position: relative;
          right: -100px;
          top: 52px;
        }

        @include getDown(1102px) {
          transition: all .3s ease;
          &.img2 {
            transform: translateX(24px) translateY(100px);
          }
          &.img3 {
            right: -90px;
            top: 22px;
          }
        }

        @include getDown(874px) {

          &.img2 {
            transform: translateX(20%) translateY(100px);
          }
          &.img3 {
            right: 0px;
            top: 22px;
          }
        }

        @include getDown(622px) {
          margin: auto !important;
          transform: none;

          &.img2 {
            transform: none;
            position: relative;
          }
          &.img3 {
            transform: none;
            position: relative !important;
          }
        }


      }
    }

    .signup-section-right {
      @include getDown(874px) {
        margin-top: 100px;
        transition: margin-top .4s ease;
      }

      p {
        margin-bottom: 32px;
        margin-top: 40px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: #636363;
      }
    }
  }
}