
.top-collection-section {
  padding: 134px 0;

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;

    @include getDown(1142px){
      column-gap: 10px;
    }


    @include getDown(1080px){
      grid-template-columns: repeat(1, 1fr);
      column-gap: 0px;
    }


    .col-one {
      & > img {
        border-radius: 24px;
      }

      @include getDown(1080px){
        display: flex;
      }

      @include getDown(638px){
        flex-direction: column;
      }
      & > div {
        margin-top: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include getDown(1080px){
          flex-direction: column;
          justify-content: flex-start;
        }
      }


      .meta-info {
        display: flex;
        align-items: center;
        margin-left: 10px;


        .meta-info-title {
          display: flex;
          margin-left: 10px;
          flex-direction: column;

          span {
            &:nth-child(1) {
              color: $black;
              font-size: 20px;
              font-weight: 700;
            }

            &:nth-child(2) {
              margin-top: 5px;
              color: $gray-9;
              font-size: 14px;
            }
          }
        }

        .meta-info-price {

          @include getDown(1080px){
            margin-top: 20px;
          }

          span {
            &:nth-child(1) {

              color: #3A3A3A;
              font-size: 12px;
              font-weight: 500;
            }

            &:nth-child(2) {
              h6 {
                margin-top: 5px;
                margin-left: 10px;
                color: #3A3A3A;
                font-size: 16px;
                font-weight: 700;
              }
            }
          }
        }

      }

    }

    .col-two {
      margin-left: 20px;


      & > div {
        column-gap: 10px;

        &:not(:first-child) {
          margin-top: 41px;
        }
      }

      @include getDown(1080px){
        display: flex;
        margin-left: 0px;
        column-gap: 10px;
        margin-bottom:50px;
        margin-top: 50px;
        & > div {
          margin-top: 0px !important;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: space-between;

          .thumb-image{
            object-fit: cover;
            border-radius: 20px;
            @include getDown(740px){
              margin-bottom: 10px;
              min-height: 300px;
            }
          }
        }

      }
      @include getDown(740px){
        flex-wrap: wrap;
        row-gap: 20px;
      }


      .right-content {
        & > div {
          margin-top: 8px;
          margin-bottom: 15px;

          button {
            margin-left: 8px;
            margin-right: 10px;

            img {
              margin-right: 4px;

            }
          }

          & > span {
            color: #757575;
            font-size: 14px;
          }
        }
      }

      h5 {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        /* identical to box height */

        color: $black;

      }
    }


    .col-three {
      border-left: 1px solid $gray-7;
      padding-left: 70px;
      margin-left: 0px;

      @include getDown(1180px){
        padding-left: 40px;
      }
      @include getDown(1100px){
        padding-left: 10px;
      }

      @include getDown(1080px){
        padding-left: 10px;
      }



      & > div {
        &:not(:last-child) {
          border-bottom: 1px solid $gray-7;
          padding-bottom: 10px;
          margin-bottom: 10px;
        }

        .rate {
          color: #14C8B0;
          text-align: right;
          font-size: 20px;
          font-family: Poppins, serif;
          font-weight: 600;
          line-height: 103%;
          letter-spacing: -0.5px;
        }
        &:nth-child(3) {
          .rate {
            color: #FF002E ;
          }
        }

        &:nth-child(7) {
          .rate {
            color: #FF002E ;
          }
        }
      }

      h2 {
        font-family: 'Integral CF';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height */
        color: $black;
      }

      h4 {
        margin-top: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        color: $primary-deep;
        margin-bottom: 32px;
      }

      .verified {
        position: relative;

        &::after {
          content: "";
          background-image: url("/verify1.svg");
          width: 30px;
          height: 30px;
          background-repeat: no-repeat;
          position: absolute;
          top: -4px;
          right: -5px;
        }
      }

      .collection-no {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 103%;
        /* identical to box height, or 25px */
        text-align: center;
        letter-spacing: -0.025em;
        color: $black;
      }

      .total-count-parent {
        h5 {
          color: $black;
          font-size: 16px;
          font-weight: 600;
          line-height: 103%;
          letter-spacing: -0.4px;
        }

        .total-count {
          margin-top: 8px;
          display: flex;
          align-items: center;
          column-gap: 5px;
          span {
            color: $gray-8;
            font-size: 14px;
            font-family: Poppins;
            font-weight: 600;
            line-height: 103%;
            letter-spacing: -0.35px;
          }
        }
      }
    }
  }
}