@font-face {
    font-family: 'Integral CF';
    src: url("/fonts/Fontspring-DEMO-integralcf-regular.otf") format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Integral CF';
    src: url("/fonts/Fontspring-DEMO-integralcf-medium.otf") format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Integral CF';
    src: url("/fonts/Fontspring-DEMO-integralcf-bold.otf") format('opentype');
    font-weight: 600;
    font-style: normal;
}