$primary-main: #3D00B7;
$primary-deep: #3D00B7;
$primary-purple: #4F33A3;


$secondary-main: #00AC4F;
$secondary-deep: #00AC4F;

$gray-1: #EFEFEF;
$gray-2: #C0C0C0;
$gray-3: #F4F4F4;
$gray-4: rgba(217, 224, 236, 0.2);
$gray-5: #F1F1F1;
$gray-6: #A4A4A4;
$gray-7: #F0F0F0;
$gray-8: #636363;
$gray-9: #363639;
$gray-10: #959595;
$gray-10: #959595;
$gray-11: #696969;
$black: #000;
